{% load static %}
<div class='widget-ajax-control' style='display: inline;'>
    <input class='widget-ajax-search-text-field'
           data-widget-ajax-url="{% for name, value in widget.attrs.items %}{% if name == 'data_ajax_url' %}{% url value %}{% endif %}{% endfor %}"
           type="{{ widget.type }}"
           name="{{ widget.name }}"
            {% if widget.value != None %} value="{{ widget.value }}"{% endif %}
            {% include "django/forms/widgets/attrs.html" %}
    >
    {% for field in form %}
        <li>{{ field.name }} - {{ widget.attrs.data_field_name }}</li>
        {%  if name == widget.attrs.data_field_name %}
            {{ value.errors }}
        {% endif %}
    {% endfor %}

    <div class='widget-ajax-results results'></div>
</div>
