{% extends 'admin/base_site.html' %}
{% load static %}
{% block extrahead %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <p>
        Press enter or tab to perform search
    </p>
    <p>
        {{ form.search_field.errors }}
        <label for="{{ form.search_field.id_for_label }}">Select Users</label>
        {{ form.search_field }}
    </p>
    <input type="submit" value="Submit" />
    {% if selected_users %}
    <h3>You selected:</h3>
    <ul>
        {% for user in selected_users %}
        <li>{{ user }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</form>
{% endblock %}